.headerSearchBar {
    background-color: rgb(50, 50, 253);
    padding: 8px 0;
    display: flex;
    justify-content: center;
}

.formSearchBar {
    margin: 0 auto;
}

.formSearchBar>input {
    font-size: 16px;
    padding: 6px 6px 6px 32px;
    outline: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 12px;
    position: relative;
    width: 232px;
}

.btnSumbitForm {
    border: none;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px 6px;
    cursor: pointer;
}

.btnIconSubmit {
    position: absolute;
    top: 35px;
    z-index: 2;
    background-color: transparent;
    border: none;
    padding: 0;
}

.iconSearchBar {

    width: 24px;
    height: 24px;
    margin-left: 4px;
    cursor: pointer;
}